.not-found {
  margin-top: 20px;

  .page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }

  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  .four_zero_four_bg h1 {
    font-size: 80px;
  }

  .four_zero_four_bg h3 {
    font-size: 80px;
  }

  .link_404 {
    color: #ecf0f1 !important;
    padding: 10px 20px;
    background-color: #27ae60;
    border: 1px solid #2ecc71;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
    min-width: 200px;
    font-size: 1.5rem;

    &:hover {
      background-color: #2ecc71;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    }
  }

  .content_box_404 {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
}
