.form-input {
  padding: 10px 0px;

  input {
    &::placeholder {
      color: #6c757d;
      opacity: 1;
    }

    &.--error {
      color: #495057;
      background-color: #fff;
      border-color: #a9bcee;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
    }
  }

  &-error {
    display: flex;
    flex-direction: row;
    padding: 5px 0px 0px 0px;
    color: #e74c3c;
    font-size: 0.9rem;
    padding: 5px 5px 0px 0px;

    &-icon {
      padding: 3.5px 5px 0px 0px;
    }

    p {
      margin: 0;
    }
  }
}
